{% extends "layout.html" %}
{% block body_content %}
<h1>About</h1>
<h3> FlaskY E-Commerce Plataform </h3>
        <div>​
<img src="https://specials-images.forbesimg.com/imageserve/5d95d03767dd830006a295b6/960x0.jpg?fit=scale" style="width:500px;height:400px;">
 </div>​
 <p> 
Within computer programming, the acronym CRUD stands for create, read, update and delete. These are the four basic functions of persistent storage. Also, each letter in the acronym can refer to all functions executed in relational database applications and mapped to a standard HTTP method, SQL statement or DDS operation.
</p>
{% endblock %}
