{% extends "layout.html" %}
{% block body_content %}
<h1>About FlaskY E-Commerce Plataform </h1>
        <div>​
<img src="https://specials-images.forbesimg.com/imageserve/5d95d03767dd830006a295b6/960x0.jpg?fit=scale" style="width:500px;height:400px;">
 </div>​
 <p>To create an OOP-based application with utilisation of supporting tools (Github, Jenkins, Linux ), methodologies ( Agile ) and technologies that encapsulate all core modules covered during QA Intensive training such HTML, Python and SQL ). Aplication posses the capacity to manipulate a database ( CRUD - create, read, Update and delete functionality ) using front end interface created using Flask Python framework.
</p>
{% endblock %}
