{% extends "layout.html" %}
{% block body_content %}
 <h1>Account Administration</h1>
    <h3>Here you can update your account:</h3>
    <div class='form'>
        <form method='POST' action=''>
            {{ form.hidden_tag() }}
            <div class='form_group'>
                {{ form.first_name.label }}
                {{ form.first_name }}
             <p>
                {{ form.last_name.label }}
                {{ form.last_name }}
            <p>
                {{ form.email.label }}
                {{ form.email }}
                {% if form.email.errors %}
                    <div class='error'>
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <br>
            <div class='form_group'>
                {{ form.submit }}
            </div>
           </form>
               <br>
               <form method='POST' action="{{ url_for('account_delete') }}">
               <button type="submit">Delete your account</button>
               </form>      
      </div>
<p>

--------------------------------------------------------------------------------

<p>
<h3>My favourites products:</h3>

{% if favou %}
    {% for favouid in favou %}
        <p>Product Name: {{ products.productname }}</p>
        <form method='DELETE' action="{{ url_for('favou_delete', id=favou.id) }}">
           <button type="submit">Delete Favourite</button>
        </form>
     {% endfor %}
{% else %}
    <p>There are no favourites!</p>
{% endif %}


{% endblock %}

