<!DOCTYPE html>
<html>
  <body>
    <header>
      <div class="container">
        <h1 class="logo"><center>Flask APP - Paulo</center></h1>
      <strong><nav>
          <ul class="navbar">
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register')}}">Register</a>	           
	    <a href="{{ url_for('post')}}">Post</a>
	    <a href="{{ url_for('about')}}">About</a>      
         </ul>
      </nav></strong>
      </div>
    </header>
    <div class="container">
      {% block body_content %}
      
      {% endblock %}
    </div>
  </body>
</html>
