<!DOCTYPE html>
<html>
<head>
<center>
<title>FlaskY</title>
</head>
  <body>
<p>
    <header>
<br>
 </header>
    <div class="container">
      <strong><nav>
         <div  class="navbar">
            <a href="{{ url_for('home') }}">Home</a>         
            <a href="{{ url_for('about')}}">About</a>     
            {% if current_user.is_authenticated %}     
            <a href="{{ url_for('account')}}">Account</a>
	    <a href="{{ url_for('store')}}">Store</a>
	    <a href="{{ url_for('post')}}">Review</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
            {% if not current_user.is_authenticated %}
	    <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register')}}">Register</a>
            {% endif %}  
          </div>
        </nav></strong>
      </div>
    <div class="container">
      {% block body_content %}
      {% endblock %}
    </div>
  </body>
</center>
</html>
