<!DOCTYPE html>
<html>
 <head>
    <title>Flask app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
      <strong><nav>
          <ul class="navbar">
            <a href="{{ url_for('home') }}">Home</a>         
            <a href="{{ url_for('about')}}">About</a>     
            {% if current_user.is_authenticated %}     
            <a href="{{ url_for('account')}}">Account</a>
	    <a href="{{ url_for('store')}}">Store</a>
	    <a href="{{ url_for('post')}}">Post</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
            {% if not current_user.is_authenticated %}
	    <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register')}}">Register</a>
            {% endif %}  
          </ul>
        </nav></strong>
      </div>
    </header>
    <div class="container">
      {% block body_content %}
      {% endblock %}
    </div>
  </body>
</html>
