{% extends "layout.html" %}
  {% block body_content %}
  <h1>Review Page</h1>
    <p>Happy with our service and products? Write a review!</p>
     <div class='form'>
        <form method='POST' action=''>
            {{ form.hidden_tag() }}
            {{ form.first_name.label }}
            {{ form.first_name }}
            <br>
            {{ form.last_name.label }}
            {{ form.last_name }}
            <br>
            {{ form.title.label }}
            {{ form.title }}           
            <br>
            {{ form.content.label }}
            {{ form.content }}
            <br>
            {{ form.submit }}
        </form>
    </div>
{% if posts %}
    <!-- for every post in the posts list -->
    {% for post in posts %}
        <!-- display properties from the post -->
        <p>Author: {{ post.first_name }}</p>
        <p>Title: {{ post.title }}</p>
        <p>Content: {{ post.content }}</p>
        <form method='DELETE' action="{{ url_for('post_delete', id=post.id) }}">
           <button type="submit">Delete Post</button>
        </form>        
 <!-- end the for-loop -->
    {% endfor %}
<!-- otherwise... -->
{% else %}
    <!-- display a message indicating that there are no posts --> 
    <p>There are no post</p>
<!-- end the 'if' statement -->
{% endif %}
{% endblock %}
