{% extends "layout.html" %}
  {% block body_content %}
  <h1>Review Page</h1>
    <p><h3>Happy with our service and products?</h3></p>
    <p><h3> Write a review!</h3></p>
     <div class='form'>
        <form method='POST' action=''>
            {{ form.hidden_tag() }}
            {{ form.first_name.label }}
            {{ form.first_name }}
            <br>
            {{ form.last_name.label }}
            {{ form.last_name }}
            <br>
            {{ form.title.label }}
            {{ form.title }}
            <br>
            {{ form.content.label }}
            {{ form.content }}
            <br>
            {{ form.submit }}
        </form>
    </div>
{% if reviews %}
    {% for review in reviews %}
        <p>Title: {{ review.title }}</p>
        <p>Comment: {{ review.content }}</p>
        <form method='DELETE' action="{{ url_for('review_delete', id=review.id) }}">
           <button type="submit">Delete Review</button>
        </form>
     {% endfor %}
{% else %}
    <p>There are no review!</p>
{% endif %}
{% endblock %}
