{% extends "layout.html" %}
{% block body_content %}
    <h1>StorePage</h1>
    <p>Here you can add, update or delete products from the store stock.</p>
    <div class='form'>
        <form method='POST' action=''>
            {{ form.hidden_tag() }}
            <div class='form_group'>
                {{ form.email.label }}
                {{ form.email }}
                {% if form.email.errors %}
                    <div class='error'>
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <br>
            <div class='form_group'>
                {{ form.submit }}
            </div>
        </form>
    </div>
{% endblock %}
